<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.offcoupon.repository.mysql.CouponIssueRepository">

    <insert id="save" parameterType="CouponIssue">
        INSERT INTO coupon_issue (member_id, coupon_id, coupon_status, created_at, updated_at,
                                  check_related_issued_quantity)
        VALUES (#{memberId}, #{couponId}, #{couponStatus}, #{createdAt}, #{updatedAt}, #{checkRelatedIssuedQuantity});
    </insert>

    <select id="existCouponIssue" parameterType="CouponIssueCheckVo" resultType="boolean">
        SELECT EXISTS (SELECT 1
                       FROM coupon_issue
                       WHERE member_id = #{memberId}
                         AND coupon_id = #{couponId}
                         AND DATE(created_at) = #{currentDateTime}
                       LIMIT 1);
    </select>

    <select id="countCouponIdForToday" resultType="CountByCouponIdVo">
        SELECT coupon_id, count(coupon_id) as count
        FROM coupon_issue
        WHERE Date(created_at) = CURDATE()
          AND check_related_issued_quantity = 0
        GROUP BY coupon_id;
    </select>

    <select id="couponIssueIdListForToday" resultType="java.lang.Long">
        SELECT id
        FROM coupon_issue
        WHERE DATE(created_at) = CURDATE()
          AND check_related_issued_quantity = 0;
    </select>

    <select id="findCouponIssueById" parameterType="long" resultType="CouponIssue">
        SELECT id,
               member_id,
               coupon_id,
               coupon_status,
               created_at,
               updated_at,
               check_related_issued_quantity
        FROM coupon_issue
        WHERE id = #{id};
    </select>

    <update id="updateCheckFlag" parameterType="CouponIssue">
        UPDATE coupon_issue
        SET check_related_issued_quantity = #{checkRelatedIssuedQuantity}
        where id = #{id};
    </update>

    <select id="getAllCoupons" parameterType="long" resultType="AllCouponsByMemberIdVo">
        SELECT c.id,
               e.category,
               e.description,
               c.discount_type,
               c.discount_rate,
               c.discount_price,
               c.validate_start_date,
               c.validate_end_date,
               ci.coupon_status
        FROM coupon_issue ci
                 JOIN coupon c on ci.coupon_id = c.id
                 JOIN event e on c.event_id = e.id
        WHERE ci.member_id = #{memberId};
    </select>

    <select id="getAvailableCoupons" parameterType="MemberIdProductIdNowVo" resultType="AvailableCouponsByMemberIdVo">
        <![CDATA[
        SELECT c.id as couponId,
               c.validate_start_date,
               c.validate_end_date,
               c.discount_type,
               c.discount_rate,
               c.discount_price,
               p.category,
               p.description,
               p.min_order_price,
               ci.id as couponIssueId,
               ci.coupon_status,
               p.original_price,
               p.sale_price
        FROM coupon_issue ci
                 JOIN coupon c ON c.id = ci.coupon_id
                 JOIN event e ON e.id = c.event_id
                 JOIN product p ON p.category = e.category
        WHERE ci.member_id = #{memberId}
          AND #{currentDateTime} BETWEEN  c.validate_start_date and c.validate_end_date
          AND ci.coupon_status = 'ACTIVE'
          AND p.id = #{productId};
        ]]>
    </select>

    <select id="validateStatusIsActive" parameterType="Long" resultType="CouponIssuesAreActiveVo">
        select id as couponIssueId, if (coupon_status = 'ACTIVE', true, false) as isActive
        from coupon_issue
        where id in
        (
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
        );
    </select>
    <update id="useCoupon" parameterType="long">
        UPDATE coupon_issue
        SET coupon_status = 'USED'
        WHERE id in
        (
        <foreach collection="list" item="item" separator=",">
            #{item}
        </foreach>
            )
    </update>
</mapper>