<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 위 코드가 mapper 설정을 하는 코드 -->

<!-- Mapper를 사용하는 Repository의 전체 경로를 적어줘야함. -->
<mapper namespace="com.flab.offcoupon.repository.mysql.MemberRepository">

    <insert id="save" parameterType="com.flab.offcoupon.domain.entity.Member">
        INSERT INTO  member (email, password, name, birthdate, phone, role, created_at, updated_at)
        VALUES (#{email}, #{password}, #{name}, #{birthdate},#{phone},#{role}, #{createdAt},#{updatedAt} )
    </insert>

    <select id="existMemberByEmail" parameterType="com.flab.offcoupon.domain.entity.Member" resultType="boolean">
        SELECT EXISTS (SELECT 1
                      FROM member
                      WHERE email = #{email}
                      );
    </select>

    <select id="findMemberByEmail" resultType="Member">
        SELECT id,
               email,
               password,
               name,
               birthdate,
               phone,
               role,
               created_at,
               updated_at
           FROM  member
           WHERE email = #{email};
    </select>

</mapper>