<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flab.offcoupon.repository.mysql.StatisticsRepository">
    <select id="getMonthlyOrderStatistics" parameterType="MonthlyStatisticsParameterVo" resultType="MonthlyOrderStatisticsVo">
        select DATE_FORMAT(od.created_at,'%Y-%m') as `year_month`,
            count(od.id) as total_order_cnt,
            SUM(od.total_payment_price) as 'total_payment_price',
            count(oc.id) as total_coupon_cnt,
            SUM(od.total_discount_price) as 'total_discount_price'
        from order_detail od
            left join order_coupon oc on od.id = oc.order_id
        where od.created_at BETWEEN #{startedAt} and #{endedAt}
        group by `year_month`
        order by `year_month`;
    </select>
</mapper>